<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	<meta name="description" content="">
	<meta name="Keywords" content="">

	<meta name="viewport" content="width=640,user-scalable=yes">
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">

	<link href="/css/common.css" rel="stylesheet" />
</head>
<body>
	<div id="wrapper">
		{% include "/includes/_header.html" %}
		<main>
			{% block page %}{% endblock %}
		</main>

		{% include "/includes/_footer.html" %}
	</div>
	<script async src="/js/common.js"></script>
</body>
</html>